<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Of Jobs</title>
</head>
<body>
    <div class="jumbotron" style="width:70%; max-height:170rem; margin: auto">
      <div class="container">
          <button *ngFor="let job of jobs"  (click)="onSelect(job)" type="button" class="btn btn-primary" routerLink="'jobdetail/{{job.ID}}">{{job.name}}</button>
      </div>
    </div>
</body>
</html>