 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 611px) {
    .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }
}