<div class="jumbotron" style="width:80%; margin: auto;margin-top: 40px">
  <h2 align="center">FJM API consumption in Angular</h2>
  <p class="lead" align="center">FJM API is a service for monitoring the status of jobs submitted to our supercomputer.</p>
  <hr class="my-4">
  <p>The base url for the first version of the api is http://localhost:5000/about, next you have the endpoints: About, Jobs, Job/JobID, and Stats. All requests has been made with HTTP GET requests</p>
  <table *ngIf="about" class="table table-hover">
      <tbody>
          <tr class="table-primary">
              <th scope="row">Name</th>
              <td>{{about.name}}</td>
          </tr>
          <tr class="table-primary">
              <th scope="row">Description</th>
              <td>{{about.description}}</td>
          </tr>
          <tr class="table-primary">
              <th scope="row">Contact</th>
              <td>{{about.contact}}</td>
          </tr>
          <tr class="table-primary">
              <th scope="row">Specs URI</th>
              <td>{{about.specsURI}}</td>
          </tr>
          <tr class="table-primary">
              <th scope="row">Time Zone</th>
              <td>{{about.timezone}}</td>
          </tr>
          <tr class="table-primary">
              <th scope="row">Version</th>
              <td>
                  <tr class="table-primary">
                      <th scope="row">Name</th>
                      <td>{{about.version.name}}</td>
                  </tr>
                  <tr class="table-primary">
                      <th scope="row">isRelease</th>
                      <td>{{about.version.isRelease}}</td>
                  </tr>
                  <tr class="table-primary">
                      <th scope="row">Major</th>
                      <td>{{about.version.major}}</td>
                  </tr>
                  <tr class="table-primary">
                      <th scope="row">Minor</th>
                      <td>{{about.version.minor}}</td>
                  </tr>
                  <tr class="table-primary">
                      <th scope="row">Patch</th>
                      <td>{{about.version.patch}}</td>
                  </tr>
              </td>
          </tr>
      </tbody>
  </table>
</div>