<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Filtered Jobs</title>
</head>
<body>
  <div class="jumbotron" style="width:70%; max-height:170rem; margin: auto;margin-top: 40px">
    <ag-grid-angular 
      style="width: 810px; height: 170px; margin:auto;" 
      class="ag-theme-balham"
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="rowData | async" 
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
</body>
</html>
